{
	"plugins": [
    "babel-plugin-styled-components",
		["@babel/plugin-transform-react-jsx", {
			"pragma": "h",
			"pragmaFrag": "Fragment",
			"throwIfNamespace": false,
			"useBuiltIns": true
		}],
		["auto-import", {
      "declarations": [
        { "members": ["h", "Fragment"], "path": "preact" }
      ]
    }]
	]
}
